body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #808080; /* Серый фон */
}

canvas {
    display: block;
    background-color: #000; /* Черное поле радара */
}

#coordsDisplay {
    position: absolute;
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    color: white;
    background: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}